<h1>Demo#Hello</h1>
<p>Hello World!</p>

<% @array.each do |n| %>
<%= n %> <br/>
<% end %>

<h3>
 <%= @some_var %>

</h3>
<% 3.times do %>
<h4>
   <%= link_to("My first link", {:action => "index"}) %>
</h4>
<% end %>
